*.exe
*.ilk
*.obj
*.pdb
*.o
*.out
vc140.pdb
prac1
prac2_sa
prac3_ts
prac4_ga
prac_vns
.vscode/tasks.json
claude-*
*.txt
*.json
nul
CLAUDE.md
__pycache__
tsp.csv
explicit_unsupported
explicit_unsupported/*.*
tsplib_option.csv
sa_config.csv
ts_config.csv
ga_config.csv
vns_config.csv
prac_vns.cpp
ts_config_pcb442.csv
