*.exe
*.ilk
*.obj
*.pdb
vc140.pdb
.vscode/tasks.json
claude-*
*.txt
*.json
nul
CLAUDE.md
__pycache__
tsp.csv
explicit_unsupported
explicit_unsupported/*.*
tsplib_option.csv
sa_config.csv
ts_config.csv
